<div class="mt-5">
  <h3 class="text-center text-secondary">Server info</h3>
  <ul class="list-unstyled">
  <li class="text-center text-secondary"><b>Argumentos de entrada:</b> {{{info.args}}}</li>
  <li class="text-center text-secondary"><b>Path de ejecución:</b> {{{info.execPath}}}</li>
  <li class="text-center text-secondary"><b>Nombre de la plataforma:</b> {{{info.platform}}}</li>
  <li class="text-center text-secondary"><b>Process id:</b> {{{info.pid}}}</li>
  <li class="text-center text-secondary"><b>Versión de Node:</b> {{{info.version}}}</li>
  <li class="text-center text-secondary"><b>Carpeta del proyecto:</b> {{{info.projectPath}}}</li>
  <li class="text-center text-secondary"><b>Memoria total reservada:</b> {{{info.rss}}}</li>
  <li class="text-center text-secondary"><b>Cpus:</b> {{{info.cpus}}}</li>

  </ul>
</div>